.container {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  overflow: hidden;
  background-color: #080420;

  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    height: 5rem;
    width: 20rem;
  }

  .brand img {
    height: 9rem;
    width: 9rem;
    padding: 2.8rem;
    margin: 0.2rem;
  }

  .brand h3 {
    color: white;
    position: relative;
    right: 4rem;
    text-transform: uppercase;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
  }

  .contacts::-webkit-scrollbar {
    width: 0.6rem;
  }

  .contacts::-webkit-scrollbar-thumb {
    background-color: #ffffff39;
    width: 0.2rem;
    border-radius: 1rem;
  }

  .contact {
    background-color: #ffffff34;
    min-height: 5rem;
    cursor: pointer;
    width: 96%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    display: flex;
    gap: 1.8rem;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .avatar img {
    display: flex;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    max-inline-size: 100%;
  }

  .contact .username h3 {
    color: white;
    height: 2rem;
    position: relative;
    right: 3rem;
    top: 0.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    height: 3rem;
    width: 6rem;
    min-width: 0;
    max-width: 100%;
  }

  .contact.selected {
    background-color: #9a86f3;
  }

  .current-user {
    background-color: #143152;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 5rem;
    width: 20rem;
    position: relative;
    right: 0.6rem;
  }

  .current-user .avatar img {
    height: 6rem;
    padding: 1rem;
    margin: 4rem;
    position: relative;
    left: 0.5rem;
    max-inline-size: 100%;
  }

  .current-user .username h2 {
    color: white;
    height: 2rem;
    position: relative;
    right: 3rem;
    top: 0.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    height: 3rem;
    width: 6rem;
    min-width: 0;
    max-width: 100%;
  }


  @media screen and (min-width: 720px) and (max-width: 1080px) {
    .current-user {
      gap: 0.5rem;
    }

    .current-user .username h2 {
      font-size: 1rem;
    }
  }
}
